*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
}

header{
    background: #ffdecb;
    color: #4d4d4d;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    position: sticky;
    top: 0;
}

span a{
    color: #4d4d4d;
}

span a :hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

#plus-icon{
    padding: 1px;
    border: 2px solid #4d4d4d;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

nav{
    height: 40px;
    background: #FFBF9B;
    color: #4d4d4d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav div span{
    border: 1px solid #4d4d4d;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

label{
    align-items: center;
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
}

label input{
    border: none;
    padding-left: 5px;
    outline: 0;
    background: none;
}

label i{
    padding: 3px;
    background: rgb(245, 243, 243);
    border-radius: 0 15px 15px 0;
}

label i:hover {
    cursor: pointer;
    background: #d9d9d9;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background: silver;
    padding-bottom: 14vh;
}

footer{
    background: #4d4d4d;
    color: silver;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i{
    border: 2px solid silver;
    padding: 7px;
    border-radius: 50%;
    margin: 20px;
}

.actions :hover {
    border: #E4DCCF;
    border-radius: 50%;
    background: #F9F5EB;
    padding: 8px;
}